.header {
  height: clamp(180px, 30vh, 260px);
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #26ee76, #01c2d1);
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  position: relative;
  overflow: hidden;
}

/* CÍRCULO DE FONDO */
.header::before {
  content: '';
  position: absolute;

  width: clamp(250px, 40vw, 400px);
  height: clamp(250px, 40vw, 400px);

  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.4) 40%,
    rgba(247, 250, 252, 0.2) 70%,
    rgba(247, 250, 252, 0) 100%
  );

  bottom: -130px;
  right: -60px;

  pointer-events: none;
  z-index: 1;
}

/* CONTENIDO */
.header__content {
  z-index: 2;
  padding: 0 1rem;

  h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;

    /* Efecto 3D */
    color: #ffffff;
    text-shadow:
      1px 1px 0 rgba(0, 0, 0, 0.2),
      2px 2px 0 rgba(0, 0, 0, 0.15),
      3px 3px 5px rgba(0, 0, 0, 0.2);
  }

  .stars {
    color: #ffe600;
    font-size: clamp(1.5rem, 2vw, 1.6rem);
    letter-spacing: 5px;
    text-shadow:
      1px 1px 0 rgba(0, 0, 0, 0.2),
      2px 2px 0 rgba(0, 0, 0, 0.15),
      3px 3px 5px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: clamp(1.3rem, 2.5vw, 1.7rem);
    margin-top: 0.5rem;
    margin-bottom: 2rem;

    text-shadow:
      1px 1px 0 rgba(0, 0, 0, 0.2),
      2px 2px 0 rgba(0, 0, 0, 0.15),
      3px 3px 5px rgba(0, 0, 0, 0.2);
  }
}

/* IMAGEN MONTAÑA */
.header__mountain {
  position: absolute;
  bottom: -40px;
  right: -80px;

  width: clamp(240px, 40vw, 400px);

  pointer-events: none;
  z-index: 1;
}
