.admin-dashboard {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  .title {
    text-align: center;
  }
}
.admin-dashboard ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0.6rem 0.5rem;
  border-radius: 8px;
  transition: 0.2s ease;
  cursor: pointer;
}

.admin-dashboard ul li a:hover {
  background: rgba(1, 209, 164, 0.12);
  color: var(--color-accent);
  transform: translateX(4px);
}

/* opcional: mejorar separación */
.admin-dashboard ul li {
  list-style: none;
}

/* TITULO */
.title {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;

  h1 {
    color: var(--color-accent);
    font-size: clamp(1.8rem, 3vw, 2.5rem);
  }

  h2 {
    font-weight: 400;
    margin-top: 0.5rem;
  }

  .accent {
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* GRID */
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  position: relative;
  z-index: 2;
}

/* CARD */
.card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  padding: 1.5rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

  h2 {
    margin-bottom: 1rem;
    color: var(--color-accent);
  }

  ul {
    list-style: none;

    li {
      padding: 0.7rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }

  .title {
    text-align: left;
  }
}

/* PILLS */
.pills {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.pills button {
  background: #e5e9ed;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;

  font-size: 0.85rem;
  color: #555;

  transition: all 0.2s ease;
}

.pills button:hover {
  background: var(--color-accent);
  color: white;
  transform: translateY(-2px);
}
