<div class="lessons">
  <!-- HEADER -->
  <div class="header">
    <h1>Lecciones creadas</h1>
    <p>Gestiona el contenido educativo</p>

    <button class="btn-create" routerLink="/admin/lessons/create">+ Crear lección</button>
  </div>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Buscar lecciones..."
      [(ngModel)]="search"
      (input)="onSearch()"
    />
  </div>
  <div class="filters">
    <div class="filters-group">
      <span class="filters-label">Nivel:</span>

      <button (click)="setLevel(null)" [class.active]="!selectedLevel">Todos</button>
      <button (click)="setLevel('A1')" [class.active]="selectedLevel === 'A1'">A1</button>
      <button (click)="setLevel('A2')" [class.active]="selectedLevel === 'A2'">A2</button>
      <button (click)="setLevel('B1')" [class.active]="selectedLevel === 'B1'">B1</button>
      <button (click)="setLevel('B2')" [class.active]="selectedLevel === 'B2'">B2</button>
      <button (click)="setLevel('C1')" [class.active]="selectedLevel === 'C1'">C1</button>
      <button (click)="setLevel('C2')" [class.active]="selectedLevel === 'C2'">C2</button>
    </div>

    <div class="filters-group">
      <span class="filters-label">Skill:</span>

      <button (click)="setType(null)" [class.active]="!selectedType">Todos</button>
      <button (click)="setType('grammar')" [class.active]="selectedType === 'grammar'">
        Grammar
      </button>
      <button (click)="setType('vocabulary')" [class.active]="selectedType === 'vocabulary'">
        Vocabulary
      </button>
      <button (click)="setType('reading')" [class.active]="selectedType === 'reading'">
        Reading
      </button>
      <button (click)="setType('listening')" [class.active]="selectedType === 'listening'">
        Listening
      </button>
      <button (click)="setType('speaking')" [class.active]="selectedType === 'speaking'">
        Speaking
      </button>
      <button (click)="setType('writing')" [class.active]="selectedType === 'writing'">
        Writing
      </button>
    </div>
  </div>
  <!-- TABLE -->
  <div class="card">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <!--  <th>Cover</th> -->
            <th>Título</th>
            <th>Nivel</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          @for (lesson of lessons; track lesson.id) {
            <tr>
              <!-- <td>
                @if (lesson.cover_url) {
                  <img class="cover" [src]="lesson.cover_url" alt="cover" />
                }
              </td>-->

              <td>
                <a class="lesson-link" [routerLink]="['/lesson', lesson.slug]">
                  {{ lesson.title }}
                </a>
              </td>

              <td>{{ lesson.level }}</td>

              <td>{{ lesson.type }}</td>

              <td>
                <span class="status" [class.published]="lesson.status === 'published'">
                  {{ lesson.status }}
                </span>
              </td>

              <td class="actions">
                <button class="icon-btn" [routerLink]="['/admin/lessons/edit', lesson.id]">
                  ✏️ Editar
                </button>

                <button class="icon-btn danger" (click)="deleteLesson(lesson.id)">
                  🗑 Eliminar
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
