<div class="profile-config">
  <!-- HEADER -->
  <div class="title">
    <h1>
      Configuración de perfil de
      <span class="accent">{{ user()?.name }}.</span>
    </h1>
    <h2>Edita tu información personal</h2>
  </div>

  <!-- CARD -->
  <div class="card">
    <!-- AVATAR -->
    <div class="avatar">
      <img [src]="user()?.avatar_url || '/images/user.webp'" />

      <input type="file" hidden #fileInput (change)="onFileSelected($event)" />

      <button type="button" class="change-avatar" (click)="fileInput.click()">Cambiar foto</button>
    </div>

    <!-- FORM -->
    <form [formGroup]="form" (ngSubmit)="save()">
      <label>
        Nombre
        <input formControlName="name" type="text" />
      </label>

      <label>
        Apellido
        <input formControlName="surname" type="text" />
      </label>

      <label>
        Email
        <input formControlName="email" type="email" />
      </label>

      <button type="submit" class="save-btn">Guardar cambios</button>

      <button type="button" class="delete-btn" (click)="openDeleteModal()">Eliminar cuenta</button>
    </form>

    <!-- BACK -->
    <button type="button" (click)="back()" class="back-link">← Volver al panel</button>
  </div>
</div>

<!-- MODAL SALIR-->
@if (showLeaveModal) {
  <div class="modal-overlay">
    <div class="modal-container">
      <h3>¿Abandonar sin guardar?</h3>
      <p>Tienes cambios sin guardar. ¿Seguro que quieres salir?</p>

      <div class="modal-actions">
        <button class="btn-cancel" (click)="cancelLeave()">Cancelar</button>

        <button class="btn-confirm" (click)="confirmLeave()">Sí, abandonar</button>
      </div>
    </div>
  </div>
}

<!-- MODAL ELIMINAR CUENTA-->
@if (showDeleteModal) {
  <div class="modal-overlay">
    <div class="modal-container">
      <h3>¿Eliminar cuenta?</h3>
      <p>Esta acción es irreversible. Confirma tu contraseña para continuar.</p>

      <input type="password" placeholder="Introduce tu contraseña" [(ngModel)]="deletePassword" />

      <div class="modal-actions">
        <button class="btn-cancel" (click)="cancelDelete()">Cancelar</button>
        <button class="btn-confirm" (click)="confirmDelete()">Sí, eliminar</button>
      </div>
    </div>
  </div>
}
