<footer class="footer">
  <div class="footer-grid">
    <!-- BRAND (colspan 2) -->
    <div class="footer-brand">
      <img src="/images/logo.webp" class="logo" alt="Logo" />
      <h2>English Maximizer School</h2>
      <p>
        Plataforma educativa para el aprendizaje del inglés mediante recursos digitales, aprendizaje
        autónomo y herramientas para estudiantes y profesores.
      </p>

      <!-- SOCIAL -->
      <div class="footer__social">
        <a href="https://www.youtube.com/@oksanagolubeva4690" target="_blank" rel="noopener">
          <img src="images/youtube.webp" alt="YouTube" />
        </a>
        <img src="images/instagram.webp" alt="Instagram" />
      </div>
    </div>

    <!-- SECCIONES -->
    <div class="footer-column">
      <h3>Secciones</h3>
      <ul>
        <li>Inicio</li>
        <li>Nosotros</li>
        <li>Estudiante</li>
        <li>Profesor</li>
        <li>Blog</li>
        <li>Contacto</li>
      </ul>
    </div>

    <!-- ACCESO -->
    <div class="footer-column">
      <h3>Acceso</h3>
      <ul>
        <li>Register</li>
        <li>Login</li>
      </ul>
    </div>

    <!-- POLÍTICA -->
    <div class="footer-column politica hide-mobile">
      <h3>Política</h3>
      <ul>
        <li>Cookies</li>
        <li>Política de privacidad</li>
      </ul>
    </div>

    <!-- COPYRIGHT (full width) -->
    <div class="footer-bottom">
      © {{ currentYear }} English Maximizer School. Todos los derechos reservados.
    </div>
  </div>
  <!-- DECORATIONS -->
  <img src="images/mountain.webp" alt="" class="header__mountain" />
</footer>
