<div class="level-test">
  <!-- HEADER SOLO EN INTRO -->
  @if (!started && !finished) {
    <section class="level-test__header">
      <h1>Haz la prueba y descubre tu nivel de inglés</h1>

      <p>
        Al completar este test vas a saber cuál es tu nivel de inglés, teniendo en cuenta la
        gramática, el vocabulario y la comprensión escrita.
      </p>

      <div class="silver-shine">
        <img src="images/levels.webp" alt="Niveles CEFR" class="levels-img" />
      </div>
    </section>
  }

  <!-- LOADING -->
  @if (loading) {
    <p class="loading">Cargando test...</p>
  }

  <!-- ERROR -->
  @if (error && !loading) {
    <div class="error-container">
      <p class="error">{{ error }}</p>
      <button class="primary-btn" (click)="loadTest()">Reintentar</button>
    </div>
  }

  <!-- INTRO -->
  @if (!started && !finished && !loading && !error) {
    <div class="pointer-wrapper">
      <app-button variant="primary" size="large" (clicked)="startTest()"> Empezar test </app-button>

      <img src="images/pointer.webp" class="cursor-img" />
    </div>
  }

  <!-- TEST -->
  @if (started && !finished && !error) {
    <section class="test-card">
      <h2 class="level-title">Nivel {{ currentQuestion().level }}</h2>

      <div class="progress">
        <div class="progress__bar" [style.width.%]="progress()"></div>
      </div>

      <p class="question">{{ currentIndex + 1 }}. {{ currentQuestion().question }}</p>

      <div class="options">
        @for (opt of currentQuestion().options; track opt.id) {
          <button
            class="option"
            (click)="selectOption(opt.id)"
            [class.selected]="isSelected(opt)"
            [class.correct]="isCorrect(opt)"
            [class.wrong]="isWrong(opt)"
            [class.disabled]="locked"
          >
            {{ opt.text }}
          </button>
        }
      </div>

      @if (locked) {
        <div class="feedback">
          <div class="explanation">
            {{ currentQuestion().explanation }}
          </div>

          <button class="next-btn" (click)="next()">Siguiente →</button>
        </div>
      }
    </section>
  }

  <!-- RESULTADOS -->
  @if (!loading && finished && !error) {
    <section class="final">
      <h1 class="final-title">
        <span class="title-icon-circle">
          <i class="fa-solid fa-trophy"></i>
        </span>
        ¡Bien hecho!
      </h1>

      <p class="subtitle">Has completado el test</p>

      <div class="score-box">
        <div class="score">{{ animatedScore }} / {{ questions.length }}</div>

        <div class="level">
          Nivel <span class="letter">{{ levelResult().level }}</span>
        </div>
      </div>

      <p class="result-message">
        <i class="fa-solid" [class]="levelResult().icon"></i>
        {{ levelResult().message }}
      </p>

      <p class="result-description">
        <i class="fa-solid fa-circle-info"></i>
        {{ levelResult().description }}
      </p>

      <div class="secondary-actions">
        <button class="secondary-btn" (click)="restartTest()">Repetir test</button>
      </div>

      <div class="pointer-wrapper">
        <a [routerLink]="['/level-test']">
          <app-button variant="primary" size="large">
            Ver curso nivel {{ levelResult().level }}
          </app-button>
        </a>

        <img src="images/pointer.webp" class="cursor-img" />
      </div>

      <div class="final-images">
        <img src="images/2750298.png" />
        <img src="images/user.webp" />
      </div>
    </section>
  }
</div>
