<div class="posts">
  <!-- HEADER -->
  <div class="header">
    <h1>Artículos creados para el blog</h1>
    <p>Gestiona el contenido del blog</p>

    <div class="filters">
      <span class="filters-label">Filtrar por:</span>
      <div>
        <button (click)="filter('')" [class.active]="filterStatus === ''">Todos</button>

        <button (click)="filter('draft')" [class.active]="filterStatus === 'draft'">
          Borradores
        </button>

        <button (click)="filter('published')" [class.active]="filterStatus === 'published'">
          Publicados
        </button>
      </div>
    </div>

    <button class="btn-create" routerLink="/admin/posts/create">Crear +</button>
  </div>

  <!-- TABLE -->
  <div class="card">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Cover</th>
            <th>Título</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          @for (post of posts; track post.id) {
            <tr>
              <td>
                @if (post.slug) {
                  <a [routerLink]="['/blog', post.slug]">
                    <img class="cover" [src]="post.cover" alt="cover" />
                  </a>
                }
              </td>

              <td>
                {{ truncate(getPostTitle(post)) }}
              </td>

              <td>
                <span
                  class="status"
                  [class.draft]="post.status === 'draft'"
                  [class.published]="post.status === 'published'"
                >
                  {{ post.status === 'draft' ? 'Borrador' : 'Publicado' }}
                </span>
              </td>

              <td class="actions">
                <button [routerLink]="['/admin/posts/view', post.id]" class="icon-btn">
                  <img src="/images/opened_eye.webp" alt="ver" />
                  <span class="text">Ver</span>
                </button>

                <button class="icon-btn" [routerLink]="['/admin/posts/edit', post.id]">
                  <img src="/images/edit.webp" alt="editar" />
                  <span class="text">Editar</span>
                </button>

                <button (click)="openDeleteModal(post.id)" class="icon-btn danger">
                  <img src="/images/delete.webp" alt="borrar" />
                  <span class="text">Borrar</span>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <!-- PAGINATION -->
    <app-pagination
      [currentPage]="currentPage"
      [lastPage]="lastPage"
      (pageChange)="loadPosts($event)"
    />
  </div>
</div>

@if (showDeleteModal) {
  <div class="modal-backdrop">
    <div class="modal">
      <h2>Eliminar post</h2>

      <p>¿Seguro que quieres eliminar este artículo?</p>

      <div class="actions">
        <button class="btn cancel" (click)="closeDeleteModal()">Cancelar</button>

        <button class="btn danger" (click)="confirmDelete()">Sí, eliminar</button>
      </div>
    </div>
  </div>
}
