.pills {
  margin: 2rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.pills button {
  background: #e5e9ed;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;

  font-size: 0.85rem;
  color: #555;

  transition: all 0.2s ease;
}

.pills button:hover {
  background: var(--color-accent);
  color: white;
  transform: translateY(-2px);
}
