<!-- ================= INTRO ================= -->
<div class="section-decor">
  <section class="about-section">
    <div class="about-text">
      <p>
        <b>¡Bienvenid@s a la escuela online </b><br />

        <strong class="gradient-text">English Maximizer School! </strong>
      </p>

      <div class="about-image">
        <div class="gradient-frame">
          <img src="images/portada.webp" alt="Oksana" class="profile-img" />
        </div>
      </div>
      <br />
      <p>
        Una nueva <b> dimensión </b> de aprender inglés sin salir de casa o viajando por todo el
        mundo.
      </p>
    </div>
  </section>
  <div class="heart-container">
    <svg class="animated-svg" viewBox="0 0 600 400" xmlns="http://www.w3.org/2000/svg">
      <path
        class="animated-path"
        d="M495.075,238.765c-0.761-6.06-2.58-12.022-5.617-17.339c-2.992-5.332-7.237-9.977-12.373-13.309
      l-0.327,0.503c5.027,3.309,9.166,7.898,12.073,13.158c2.951,5.245,4.701,11.122,5.411,17.085
      c0.666,5.972,0.295,12.074-1.247,17.878c-1.501,5.816-4.26,11.26-7.736,16.148c-7.031,9.778-17.102,17.137-28.15,21.812
      c-11.08,4.746-23.232,6.53-35.252,6.434c-12.055-0.124-24.039-2.143-35.73-5.125c-11.707-2.985-23.146-6.971-34.306-11.594
      c-3.731-1.587-7.432-3.249-11.1-4.978c3.773-2.721,7.506-5.494,11.202-8.313c29.887-22.449,52.598-54.516,63.169-90.424
      c2.648-8.967,4.527-18.161,5.601-27.451c0.499-4.654,0.894-9.296,0.967-14.01c0.074-4.7-0.127-9.406-0.634-14.086
      c-1.03-9.347-3.226-18.652-7.157-27.33c-3.913-8.644-9.731-16.663-17.473-22.457c-3.845-2.903-8.114-5.24-12.601-6.945
      c-4.487-1.711-9.179-2.796-13.898-3.374c-2.375-0.279-4.694-0.482-7.135-0.49c-2.415,0.006-4.833,0.151-7.214,0.529
      c-4.766,0.73-9.392,2.183-13.733,4.196c-8.691,4.043-16.206,10.268-22.139,17.66c-4.821,5.986-8.546,12.808-11.121,20.034
      c-1.907-4.003-4.172-7.843-6.866-11.389c-3.753-5.009-8.305-9.458-13.523-12.983c-5.205-3.528-11.065-6.159-17.237-7.507
      c-6.164-1.37-12.582-1.497-18.79-0.497c-3.103,0.516-6.148,1.315-9.108,2.337c-1.46,0.505-2.986,1.074-4.413,1.8
      c-1.447,0.688-2.816,1.506-4.146,2.372c-5.309,3.494-9.73,8.145-13.209,13.362c-3.501,5.216-5.986,11.057-7.568,17.085
      c-1.6,6.035-2.204,12.279-2.167,18.47c0.212,12.417,3.222,24.552,7.622,35.979c4.428,11.449,10.408,22.251,17.406,32.27
      c14.025,20.073,31.78,37.235,51.205,51.896c4.841,3.7,9.869,7.142,14.929,10.528c4.769,3.081,9.579,6.102,14.51,8.918
      c-10.314-4.539-20.701-8.921-31.202-13.039c-8.578-3.37-17.225-6.577-25.966-9.529c-8.733-2.977-17.571-5.665-26.505-8.025
      c-17.852-4.746-36.129-8.164-54.649-9.479c-9.244-0.706-18.692-0.612-27.977,0.71c-9.273,1.332-18.554,3.775-26.995,8.403
      c-4.196,2.323-8.164,5.213-11.511,8.804c-3.349,3.575-6.025,7.866-7.673,12.526c-1.684,4.653-2.32,9.606-2.232,14.451
      c0.047,2.429,0.268,4.83,0.644,7.215c0.367,2.391,0.907,4.763,1.636,7.08c2.836,9.328,8.673,17.583,15.901,23.874
      c7.229,6.361,15.705,10.972,24.47,14.454c8.795,3.468,17.958,5.796,27.22,7.292c9.267,1.499,18.655,2.101,28.034,1.92"
      />
    </svg>
  </div>
  <!-- ================= NIVEL ================= -->
  <section class="level-section">
    <div class="level-circles">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </div>

    <p class="level-text">
      ¿Quieres descubrir tu nivel de inglés según el <b>Marco Europeo Común de Referencia </b> para
      las Lenguas (CEFR)?
    </p>

    <div class="silver-shine">
      <img src="images/levels.webp" alt="Niveles CEFR" class="levels-img" />
    </div>

    <p>¡Haz la prueba de nivel!</p>

    <div class="pointer-wrapper">
      <a [routerLink]="['/level-test']">
        <app-button variant="primary" size="large">Prueba de nivel</app-button>
      </a>

      <img src="images/pointer.webp" alt="" class="cursor-img" />
    </div>
  </section>
</div>
<!-- ================= HEADER ================= -->
<div class="full-header">
  <div class="header-content">
    <h2>Conoce la escuela</h2>
    <img src="images/cap.webp" alt="" class="header-icon" />
  </div>
</div>

<!-- ================= ABOUT VIDEO ================= -->
<section class="about-section reverse">
  <div class="about-video">
    <div class="gradient-frame">
      <img src="images/video.webp" alt="Video preview" />
    </div>
  </div>
  <div class="about-text">
    <p>Te invitamos a que conozcas nuestra <b>academia online</b>.</p>
    <p>
      <b>EMS</b> es una plataforma educativa para el aprendizaje del <b>inglés</b> mediante recursos
      digitales y herramientas para <b>estudiantes y profesores</b>.
    </p>
    <p>
      Aquí encontrarás todo lo que necesitas para<b> subir tu nivel de inglés</b>. Todo el material
      ha sido cuidadosamente elaborado por <b>profesionales</b>.
    </p>
  </div>
</section>

<!-- ================= HEADER ================= -->
<div class="section-decor">
  <div class="full-header">
    <div class="header-content">
      <h2>Preguntas frecuentes</h2>
      <img src="images/questions.webp" alt="" class="header-icon" />
    </div>
  </div>

  <!-- ================= FAQ SECTION ================= -->
  <section class="faq-section">
    <div class="faq-item" [class.active]="activeIndex === 0">
      <button class="faq-question" (click)="toggleFAQ(0)">
        1. ¿Por qué usar English Maximizer School?
      </button>

      <div class="faq-answer">
        <div>
          <ul>
            <li>Materiales didácticos gratuitos</li>
            <li>Elaborados por profesionales</li>
            <li>Calidad de recursos</li>
            <li>Puedes preguntar tus dudas a través de comentarios y blog</li>
            <li>Un sitio seguro y de confianza</li>
            <li>Accesible para todos los niveles</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="faq-item" [class.active]="activeIndex === 1">
      <button class="faq-question" (click)="toggleFAQ(1)">2. ¿Por dónde empiezo?</button>

      <div class="faq-answer">
        <div>
          <p>
            Puedes empezar por la
            <a [routerLink]="['/level-test']" class="faq-link"> prueba de nivel </a>. También puedes
            entrar en el apartado Recursos y buscar la categoría que te interesa.
          </p>
        </div>
      </div>
    </div>

    <div class="faq-item" [class.active]="activeIndex === 2">
      <button class="faq-question" (click)="toggleFAQ(2)">
        3. ¿Cómo busco un tema que me interesa?
      </button>

      <div class="faq-answer">
        <div>
          <p>Entra en el apartado Recursos y usa el filtro por nivel o por tema.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ================= HEADER ================= -->
  <div class="full-header">
    <div class="header-content">
      <h2>También te puede interesar</h2>
    </div>
  </div>
</div>
<!-- closing tag de lateral decoration section-docor-->

<section class="iframe-grid">
  <figure class="iframe-item" *ngFor="let video of videos" (click)="loadVideo(video)">
    <ng-container *ngIf="!video.loaded; else player">
      <picture>
        <source [srcset]="video.thumb + '?avif'" type="image/avif" />

        <source [srcset]="video.thumb + '?webp'" type="image/webp" />

        <img class="youtube-facade" [src]="video.thumb" [alt]="video.title" loading="lazy" />
      </picture>

      <div class="play-button"></div>
    </ng-container>

    <ng-template #player>
      <iframe [src]="video.embedUrl" title="YouTube video player" allowfullscreen> </iframe>
    </ng-template>
  </figure>
</section>

<!-- ================= HEADER ================= -->
<div class="full-header">
  <div class="header-content">
    <h2>¿Qué dicen nuestros alumnos?</h2>
  </div>
</div>

<section class="reviews-section section-decor">
  <h2 class="reviews-title">Reseñas de nuestros alumnos</h2>

  <div class="reviews-slider" #reviewsSlider>
    <div class="reviews-track">
      <div class="review-card" *ngFor="let review of reviews">
        <div class="stars">{{ review.stars }}</div>

        <p class="review-text">
          {{ review.text }}
        </p>

        <div class="review-author">
          <img [src]="review.image" alt="Alumno" />
          <div>
            <strong>{{ review.name }}</strong>
            <span>{{ review.country }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ================= HEADER ================= -->
<div class="full-header">
  <div class="header-content">
    <h2>¿Necesitas inspiración?</h2>
  </div>
</div>

<div class="lemons-container">
  <img src="/images/lemons.webp" alt="Lemons" />
</div>
