.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  padding: 0.5rem 0;
  padding-left: 1rem;

  color: #6b7280;
}

.breadcrumbs a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 500;

  transition: all 0.2s ease;
}

.breadcrumbs a:hover {
  opacity: 0.8;
}

.breadcrumbs span {
  color: #9ca3af;
}

/* último item */
.breadcrumbs span:last-child {
  color: #111827;
  font-weight: 600;
}
