.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  padding: 0.5rem 1rem;

  color: #6b7280;

  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}
.breadcrumbs::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.breadcrumbs a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 500;

  transition: all 0.2s ease;
}

.breadcrumbs a:hover {
  opacity: 0.8;
}

.breadcrumbs span {
  color: #9ca3af;
}

/* último item */
.breadcrumbs span:last-child {
  color: #111827;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .breadcrumbs {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 0;
  }
}
